<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            mama crush chedham mama
        </h1>
        <a href="{% url 'alludu' %}"><h1>alludu response</h1></a>
        <a href="{% url 'specific:sunil' %}"><h1> sunil response</h1></a>
        <a href="{% url 'specific:sanju' %}"><h1>sanju response</h1></a>
    </center>
</body>
</html>